#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use ( or 'resources' origin file or folder )
# . value 5 : 
#      - "1" for "ONLY ONE GENERATION" (independently of the number of entities)
#      - "*" (or nothing) for "MULTIPLE GENERATIONS" (one generation for each entity)
#      - "R" for "static resources" to copied
#---------------------------------------------------------

# Static resources ( located in 'resources' ) 
restAssured resources        	; restAssured.properties           	; ${TEST_RES}						; restAssured_properties.vm   			; 1

# Config 
Config : pom.xml          		; pom_for_rest-assured.xml   		;				 					; pom_xml_for_rest-assured.vm 			; 1

# Common 
Rest Assured Configure        	; ConfigureRestAssured.java         ; ${TEST_SRC}/${ROOT_PKG}/commons 	; commons/ConfigureRestAssured_java.vm	; 1
Test error 400	   	     		; InvalidResourceIT.java          	; ${TEST_SRC}/${ROOT_PKG}/commons 	; commons/InvalidResourceIT_java.vm     ; 1

Entity Resource					; ${BEANNAME}ResourceIT.java		; ${TEST_SRC}/${ROOT_PKG}/ 			; ENTITYResourceIT_java.vm				; *



